body {
    font-family: "Sans-Serif", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #DEEEFF ;
    color: #092444;
    
  }


  .app-header {
    border-bottom: 3px solid #dee2e6;
    background-color: white; 
    padding-top: 1.4rem;   
    padding-bottom: 1.4rem; 
    position: fixed;
    width: 100%;
    top: 0%;
}

  .app-footer {
    border-top: 3px solid #dee2e6; 
    padding-top: 1.7rem;   
    padding-bottom: 1.7rem;  
    background-color: white; 
    margin-top: auto;
    bottom: 0;
}

.hero-text-container {
    max-width: 1100px;
    padding-top: 10%;
    text-align: center;   
}

h1 {
    font-weight: 570;
    padding-bottom: 1.1rem;
}

h2 {
    font-weight: 570;
}

.Login-button {
    background-color: #092444;
    padding-bottom: 0.6rem;   
    padding-top: 0.6rem;   
    padding-left: 3.2rem;   
    padding-right: 3.2rem;   
    border-radius: 8px;
}

.content-divider {
    height: 2.5px; 
    background-color: #dee2e6; 
    width: 100%;

}



